
@{
    Layout = null;
}

@model ProjectSignalR.Models.VM.LoginVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></script>


    <link rel="stylesheet" href="~/logincss/StyleSheet.css">

</head>
<body>
    <div class="container">
        <section id="formHolder">

            <div class="row">

                <!-- Brand Box -->
                <div class="col-sm-6 brand">
                    @*<a href="#" class="logo">MR <span>.</span></a>*@

                    <div class="heading">
                        <h2>Cha-</h2>
                        <h2 style="margin-right:25px">Cha</h2>

                        <p>Your Right Choice</p>
                    </div>

                    <div class="success-msg">
                        <p>Great! You are one of our members now</p>
                        <a href="#" class="profile">Your Profile</a>
                    </div>
                </div>


                <!-- Form Box -->
                <div class="col-sm-6 form">

                    <!-- Login Form -->
                    <div class="login form-peice switched">
                        <form class="login-form" action="/Login/Login" method="post">
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" name="email" id="loginemail" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>

                                <input type="password" name="password" id="loginPassword" required>
                            </div>

                            <div class="CTA">
                                <input type="submit" value="Login">
                                <a href="#" class="switch">I'm New</a>
                            </div>
                        </form>
                    </div><!-- End Login Form -->
                    <!-- Signup Form -->
                    <div class="signup form-peice">
                        <form class="signup-form" action="" method="post">

                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" name="username" id="name" class="name">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="email">Email Adderss</label>
                                <input type="email" name="emailAdress" id="email" class="email">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone Number - <small>Optional</small></label>
                                <input type="text" name="phone" id="phone">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="pass">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="passwordCon">Confirm Password</label>
                                <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                                <span class="error"></span>
                            </div>

                            <div class="CTA">
                                <input type="submit" value="Signup Now" id="submit">
                                <a href="#" class="switch">I have an account</a>
                            </div>
                        </form>
                    </div><!-- End Signup Form -->
                </div>
            </div>

        </section>


        <footer>
            <p>
                @*Form made by: <a href="http://mohmdhasan.tk" target="_blank">Mohmdhasan.tk</a>*@
            </p>
        </footer>

    </div>
</body>
</html>
<script>
    /*global $, document, window, setTimeout, navigator, console, location*/
    $(document).ready(function () {

        'use strict';

        var usernameError = true,
            emailError = true,
            passwordError = true,
            passConfirm = true;

        // Detect browser for css purpose
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            $('.form form label').addClass('fontSwitch');
        }

        // Label effect
        $('input').focus(function () {

            $(this).siblings('label').addClass('active');
        });

        // Form validation
        $('input').blur(function () {

            // User Name
            if ($(this).hasClass('name')) {
                if ($(this).val().length === 0) {
                    $(this).siblings('span.error').text('Please type your full name').fadeIn().parent('.form-group').addClass('hasError');
                    usernameError = true;
                } else if ($(this).val().length > 1 && $(this).val().length <= 6) {
                    $(this).siblings('span.error').text('Please type at least 6 characters').fadeIn().parent('.form-group').addClass('hasError');
                    usernameError = true;
                } else {
                    $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                    usernameError = false;
                }
            }
            // Email
            if ($(this).hasClass('email')) {
                if ($(this).val().length == '') {
                    $(this).siblings('span.error').text('Please type your email address').fadeIn().parent('.form-group').addClass('hasError');
                    emailError = true;
                } else {
                    $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                    emailError = false;
                }
            }

            // PassWord
            if ($(this).hasClass('pass')) {
                if ($(this).val().length < 8) {
                    $(this).siblings('span.error').text('Please type at least 8 charcters').fadeIn().parent('.form-group').addClass('hasError');
                    passwordError = true;
                } else {
                    $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                    passwordError = false;
                }
            }

            // PassWord confirmation
            if ($('.pass').val() !== $('.passConfirm').val()) {
                $('.passConfirm').siblings('.error').text('Passwords don\'t match').fadeIn().parent('.form-group').addClass('hasError');
                passConfirm = false;
            } else {
                $('.passConfirm').siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                passConfirm = false;
            }

            // label effect
            if ($(this).val().length > 0) {
                $(this).siblings('label').addClass('active');
            } else {
                $(this).siblings('label').removeClass('active');
            }
        });


        // form switch
        $('a.switch').click(function (e) {
            $(this).toggleClass('active');
            e.preventDefault();

            if ($('a.switch').hasClass('active')) {
                $(this).parents('.form-peice').addClass('switched').siblings('.form-peice').removeClass('switched');
            } else {
                $(this).parents('.form-peice').removeClass('switched').siblings('.form-peice').addClass('switched');
            }
        });


        // Form submit
        $('form.signup-form').submit(function (event) {
            event.preventDefault();

            if (usernameError == true || emailError == true || passwordError == true || passConfirm == true) {
                $('.name, .email, .pass, .passConfirm').blur();
            } else {
                $('.signup, .login').addClass('switched');

                setTimeout(function () { $('.signup, .login').hide(); }, 700);
                setTimeout(function () { $('.brand').addClass('active'); }, 300);
                setTimeout(function () { $('.heading').addClass('active'); }, 600);
                setTimeout(function () { $('.success-msg p').addClass('active'); }, 900);
                setTimeout(function () { $('.success-msg a').addClass('active'); }, 1050);
                setTimeout(function () { $('.form').hide(); }, 700);
            }
        });

        // Reload page
        $('a.profile').on('click', function () {
            location.reload(true);
        });


    });


</script>



